# chache files
*.DS_Store
**/.idea/*
**/__pycache__/*
cookie

# venv
**/.venv/*

# raw data
*.npy
*.npz
*.tar.gz

# output data
*.png
*.gif
**/loss/*
*.pth
*.pt
*.ckpt
**/outputs/*
**/reports/*
!.gitkeep
*.txt
nohup.out

# linter
**/.mypy_cache/*
**/.pytest_chache/*
**/.tox/*
coverage.xml
.coverage
